footer{
    background-color: var(--destaque2);

}

.footer-itens{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px 24px 8px;
}

footer span{
    color: var(--texto-escuro);
    font-weight: 500;
}

@media screen and (max-width: 400px) {
    .footer-itens{
        flex-direction: column;
        gap: 20px;
    }
}