header{
    width: 100%;
    padding: 28px 8%;
}

#navBar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navLogo{
    font-size: 24px;
    color: var(--logo);
}

#navList {
    display: flex;
    list-style: none;
    gap: 48px;
}

.navItem a{
    text-decoration: none;
    color: var(--texto-escuro-leve);
    font-weight: 600;
}

.navItem.active a{
    color: var(--texto-escuro);
    border-bottom: 3px var(--destaque) solid;
}


.mobile-btn-dft {
    display: none;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
}

#mobile-menu {
    display: none;
    flex-direction: column;
    align-items: center;
}
#mobile-navList{
    list-style: none;
    flex-direction: column;
    display: flex;
    gap: 12px;
    margin: 12px 0;
}

#mobile-navList li{
    text-align: center;
}

@media screen and (max-width: 1170px){
    #navList, #navBar .btn-dft{
        display: none;
    }
    .mobile-btn-dft{
        display: block;
    }
    #mobile-menu.active{
        display: flex;
    }
}