#models{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.section-title{
    color: var(--destaque);
}

.section-subtitle{
    font-size: 2.2rem;
    text-align: center;
}

#models-bikes{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
}

.models-bike{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 28px;
    gap: 18px;
    width: 25%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.mb-heart{
    position: absolute;
    background-color: var(--destaque);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #fff;
    width: 70px;
    height: 70px;
    right: -10px;
    top: -10px;
    border-radius: 0 0 0 42px;
}

.mb-description{
    color: var(--texto-escuro-leve);
    text-align: center;
}

.mb-rate{
    color: var(--destaque);
}

.mb-price{
    display: flex;
    align-items: center;
    gap: 20px;
}

.models-bike img{
    display: block;
    width: 100%;
}

@media screen and (max-width: 1170px) {
    #models-bikes{
        flex-wrap: wrap;
    }
    .models-bike{
        width: calc(50% - 12px);
    }
}

@media screen and (max-width: 580px) {
    .models-bike{
        width: 100%;
    }
}